@charset 'UTF-8';

body {
    
    background-image: url('imagens/backgroundHacker.jpg');
    background-attachment: fixed;
}

header > section#menu {
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
}

main {
    max-width: 650px;
    margin: auto;
    padding: 10px;
    background-color: white;
    text-align: justify;
    font-size: 20px; 
       
}

main > section > h1.titulo{
    text-align: center;
    padding: 10px;
    font-size: 30px;
    
}

main > section > img.imagens {
    max-width: 500px;
    margin-left: 2em;
}

main > section > p.paragrafos {
    text-indent: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

main > section > p.exemplos {
    margin: 20%;
    padding: 10px;
    background-color: lightgray;
}

main > section > p#main_Exemplo {
    margin: 20%;
    background-color: lightgray
    ;
}

main > section > p#passos {
    margin-left: 5em;
}

main > section > h3#fimAlgoritmo {
    text-align: center;
    
}

footer  {
    background-color: whitesmoke;
    text-align: center;
    padding: 5px;

}